@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@1,300&display=swap');


.w-min{
  min-width: 15rem;
}  

.radius{
  border-radius: 82px;
}

@media (max-width: 414px) {

.w-min{
  min-width: unset;
}  

.background-white{
  background: white !important;
}


}

